body {
  width: 100vw;
  height: 100vh;
  background: #000829;
  display: grid;
  place-items: center;
}

.main-container {
  display: flex;
  Justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
  width: 66px;
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }
}
.countries-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: 96%;
  width: 96%;
  border-radius: 100px;
  overflow: hidden;
  z-index: 2;
}

.countries {
  position: absolute;
  animation: axis-spin 5s steps(24) infinite;
}

@keyframes axis-spin {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(-123px);
  }
}
.globe {
  position: absolute;
  filter: drop-shadow(-2px -2px 8px #FF409C) drop-shadow(2px 2px 3px #3B2BFF);
}